.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #1f1f1f;
}
.rounded{
    border-radius: 7px;
}

.invert{
    filter: invert(1);
}
.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Apply to the entire page */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height of the scrollbar (for horizontal scrollbar) */
  }
  
  ::-webkit-scrollbar-track {
    background: #2d2d2d; /* Dark background for the scrollbar track */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; /* Dark thumb color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Hover effect for thumb */
  }
  
  ::-webkit-scrollbar-button {
    display: none; /* Optional: hides the buttons on the scrollbar */
  }